In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%store -r data_sampah

# Ubah kolom 'tanggal' menjadi tipe data waktu
data_sampah['tanggal'] = pd.to_datetime(data_sampah['tanggal'])

# Tambahkan kolom 'tahun' dengan menggunakan .dt.year
data_sampah['tahun'] = data_sampah['tanggal'].dt.year

# Konversi jumlah_sampah ke ton (asumsi awal dalam kilogram)
data_sampah['jumlah_sampah_ton'] = data_sampah['jumlah_sampah'] / 1000

# Agregasi jumlah sampah per tahun
total_sampah_per_tahun = data_sampah.groupby('tahun')['jumlah_sampah_ton'].sum().reset_index()

display(total_sampah_per_tahun)

%store total_sampah_per_tahun

   tahun  jumlah_sampah_ton
0   2016            17.7423
1   2017            24.4188
2   2018            35.4019
3   2019            39.9671
4   2020            45.2852
5   2021            48.2529
6   2022            50.3972
7   2023            47.5492

Stored 'total_sampah_per_tahun' (DataFrame)