In [1]:
# Jumlah Sampah Kecamatan 5 Tersedikit

import pandas as pd
import matplotlib.pyplot as plt

%store -r data_sampah

# Mengelompokkan dan menghitung jumlah sampah per kecamatan
data_sampah_grouped = data_sampah.groupby('kecamatan')['jumlah_sampah'].sum()

# Membuat DataFrame baru dengan kolom 'kecamatan' dan 'jumlah_sampah'
top_5_data_sedikit = pd.DataFrame(data_sampah_grouped).sort_values(by='jumlah_sampah', ascending=True).head(5)

# Menampilkan DataFrame
display(top_5_data_sedikit)

%store top_5_data_sedikit

                  jumlah_sampah
kecamatan
Cibeunying Kidul         9928.4
Regol                    9983.0
Buahbatu                10047.4
Bojongloa Kaler         10052.8
Kiaracondong            10098.7

Stored 'top_5_data_sedikit' (DataFrame)