In [1]:
import pandas as pd

# Menyiapkan data

%store -r data_sampah

data_sampah['tanggal'] = pd.to_datetime(data_sampah['tanggal'])
data_sampah['tahun'] = data_sampah['tanggal'].dt.year

# Mengelompokkan data berdasarkan kecamatan dan tahun
grouping = data_sampah.groupby(['kecamatan', 'tahun'])['jumlah_sampah'].sum().reset_index()

# Menghitung peningkatan sampah per tahun
grouping['peningkatan_sampah'] = grouping.groupby('kecamatan')['jumlah_sampah'].diff()

# Menentukan 5 kecamatan dengan peningkatan paling signifikan pertahunnya
kecamatan_tertinggi = grouping.loc[grouping.groupby('kecamatan')['peningkatan_sampah'].idxmax()]

# Memilih hanya 5 kecamatan tertinggi
top_5_kecamatan_signifikan = kecamatan_tertinggi.nlargest(5, 'peningkatan_sampah')

display(top_5_kecamatan_signifikan)

%store top_5_kecamatan_signifikan

            kecamatan  tahun  jumlah_sampah  peningkatan_sampah
106  Cibeunying Kidul   2018         1257.0               589.7
42      Bandung Kidul   2018         1218.8               466.7
146           Coblong   2018         1244.7               457.0
210          Sukajadi   2018         1170.9               445.1
10           Antapani   2018         1203.5               441.1

Stored 'top_5_kecamatan_signifikan' (DataFrame)