In [1]:
# Jumlah Sampah Kecamatan 5 Terbanyak

import pandas as pd

%store -r data_sampah

data_sampah = data_sampah.groupby('kecamatan')['jumlah_sampah'].sum()

df = pd.DataFrame(data_sampah)

sorted_data = df.sort_values(by='jumlah_sampah', ascending=False)

top_5_data_banyak = sorted_data.head(5)

display(top_5_data_banyak)

%store top_5_data_banyak

               jumlah_sampah
kecamatan
Ujungberung          10746.5
Gedebage             10596.5
Lengkong             10555.3
Bandung Wetan        10546.8
Rancasari            10546.0

Stored 'top_5_data_banyak' (DataFrame)