            kecamatan  tahun  jumlah_sampah  peningkatan_sampah
106  Cibeunying Kidul   2018         1257.0               589.7
42      Bandung Kidul   2018         1218.8               466.7
146           Coblong   2018         1244.7               457.0
210          Sukajadi   2018         1170.9               445.1
10           Antapani   2018         1203.5               441.1