In [4]:
import pandas as pd

%store -r data_sampah 

data_sampah['tanggal'] = pd.to_datetime(data_sampah['tanggal'])

data_sampah['tahun'] = data_sampah['tanggal'].dt.year

grouping = data_sampah.groupby(['kecamatan', 'tahun'])['jumlah_sampah'].sum().reset_index()

grouping['peningkatan_sampah'] = grouping.groupby('kecamatan')['jumlah_sampah'].diff()

min_peningkatan = grouping.loc[grouping.groupby('kecamatan')['peningkatan_sampah'].idxmin()]

min_penigkatan_sorted = min_peningkatan.sort_values(by='peningkatan_sampah').head(5)

# Tampilkan hanya 5 data pertama
display(min_penigkatan_sorted)

%store min_penigkatan_sorted

            kecamatan  tahun  jumlah_sampah  peningkatan_sampah
199         Rancasari   2023         1455.2              -331.0
103  Cibeunying Kaler   2023         1443.1              -282.9
223          Sukasari   2023         1507.1              -261.7
63      Bandung Wetan   2023         1582.1              -253.2
135           Cidadap   2023         1466.5              -241.3

Stored 'min_penigkatan_sorted' (DataFrame)